backend-mysql/.env

# Backend env files
backend-mongodb/.env
env-backend

# Node modules
backend-mysql/node_modules/
backend-mongodb/node_modules/
frontend-react-mongodb/node_modules/
frontend-react-mysql/node_modules/

# Frontend env locals
frontend-react-mongodb/.env
frontend-react-mongodb/.env.local
.env.local

# Uploads / media
**/uploads/

# Build outputs
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*