@media (max-width: 575px) {
    .xxcart {
      width: 80% !important;      
    }
  }

  /* cart back-groud */
  .bg-custom-danger {
    background-color: #ffcccb;
  }

  
   .thumbnail-image {
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
  }

  .thumbnail-image.active {
    border: 2px solid #d1b4cc;
  }

  .bg-product-card {
    background-color: #ddd0d0;
  }

  .zoom-effect {
    transition: transform 0.3s ease; /* Smooth zoom transition */
  }
  
  .zoom-effect:hover {
    transform: scale(1.2); /* Zoom to 120% */
  }
  