/* Add this CSS to your styles */
.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.overflow-wrap {
  white-space: nowrap;
  overflow:auto;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  width: 150px;
}
.app-container{
  display: flex;
}
.content{
  width :100%;
}
.sidebar{
  min-height: 600px;
}
.input-text{
  min-width: 200px;
}
.forgot-text{
  margin-left: 10px;
}
.container-div{
  padding-top: 20px;
  width:70%
}
.table-container{
  padding-top: 20px;
  width:100%
}
.container-otp{
  width: 40%;
  margin-top: 50px;
}
.login-error{
  color: red;
  margin-top: 5px;
}

.modal-button {
  margin-right: auto;
}

.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: rgb(212, 25, 75);
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.cart-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.cart-item img {
  border-radius: 4px;
}

.cart-item-details {
  flex: 1;
  margin-left: 10px;
}

.cart-item-details div {
  margin-bottom: 4px;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.cart-item-quantity input {
  text-align: center;
}

.btn-outline-primary {
  margin-left: 10px;
}

.btn-danger {
  margin-left: 10px;
}
.cart-item-name {
  font-size: 0.95em;
  margin-bottom: 4px;
  color: #6f72c3;
  width: 200px;
}

.cart-item-price {
  color: #555;
  font-size: 0.95em;
}

.cart-container {
  max-height: 400px; /* Set the desired fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ddd; /* Optional: border for the cart container */
  border-radius:5px;
  padding: 10px; /* Optional: padding for the cart container */
  background-color: #f9f9f9;  /*Optional: background color */
  margin: 0px 10px 10px 10px;
}

/* Sidebar.css */
/* 
.sidebar {
  min-height: 400px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none; 
  }
}

 */

 @media (min-width: 576px) {
  .sidebar-md {
    width: 20% !important;
    transform: translateX(-80%) ;
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 40px;
  height: 100%;
  width: 250px;
  background-color: #f8f9fa;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  transform: translateX(0); /* Sidebar is visible initially */
}

.sidebar-hidden {
  transform: translateX(-85%);
}
